@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #e19011;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
  background: linear-gradient(to bottom, #04121d, #000428, #004e92); 
}

a, a:hover {
  text-decoration: none;
  color: unset;
}